@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=VT323&display=swap");
@import "tailwindcss";

@theme {
  --color-agora-bg: #050505;
  --color-agora-panel: #111111;
  --color-agora-border: #222222;
  --color-agora-text: #ededed;
  --color-agora-red: #ff3c3c;
  --color-agora-blue: #3c82ff;

  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "VT323", monospace;
}

@layer base {
  body {
    background-color: var(--color-agora-bg);
    color: var(--color-agora-text);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  ::selection {
    background-color: var(--color-agora-red);
    color: white;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
